<!DOCTYPE html>
<html>
  <script src="angular/angular-1.5.0/angular.js" charset="utf-8"></script>
  <script src="angular/angular-1.5.0/angular-animate.js" charset="utf-8"></script>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/master.css" media="screen" title="no title" type="text/css" charset="utf-8">
    <link rel="icon" href="favicon.png" type="image/png">
    <title></title>
  </head>
  <body ng-app="myapp">
    <header>
      <h1>Header1</h1>
      <h2>Header2</h2>
      <h3>Header3</h3>
      <div class="socialnetworks">
        <div name="facebook"></div>
        <div name="twitter"></div>
        <div name="googleplus"></div>
      </div>
    </header>
    <aside>
      <input type="range" name="name" value="">
      <input type="range" name="name" value="">
      <input type="range" name="name" value="">
      <input type="range" name="name" value="">
      <input type="checkbox" name="name" value="">
      <input type="image" name="name" value="">
    </aside>
    <section class="mainsection">
        <div class="searchbox">
          <input type="text" placeholder="Search" />
          <button type="button" name="button"></button>
        </div>
        <hr>
    </section>
    <footer>
      <h1>Footer</h1>
    </footer>
  </body>
</html>
<script src="scripts/angual-1-5-0/modules.js" charset="utf-8"></script>
<script src="scripts/angual-1-5-0/controllers.js" charset="utf-8"></script>
<script src="scripts/angual-1-5-0/directives.js" charset="utf-8"></script>

<!--
<div chdiv ng-controller="myCtrl">
</div>
<div ng-controller="myCtrl">
  <br>
  First Name: <input type="text" ng-model="firstName"><br>
  Last Name: <input type="text" ng-model="lastName"><br>
  <br>
  Full Name: {{firstName + " " + lastName}}
</div>

-->
