<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/master_new.css" media="screen" title="no title" type="text/css" charset="utf-8">
    <link rel="icon" href="favicon.png" type="image/png">
    <title></title>
  </head>
  <body id="page_welcome">
    <header>
      <a class="logo" href="example_new.html"><img src="logo.svg" alt="" /></a>
      <h1>DealGrain</h1>
      <h2>Logistical services</h2>
      <div class="navbar">
        <div class="navbutton">
          <p>Page #0</p>
          <div class="nvborder"></div>
        </div>
        <div class="navbutton">
          <p>Page #1</p>
          <div class="nvborder"></div>
        </div>
        <div class="navbutton">
          <p>Page #2</p>
          <div class="nvborder"></div>
        </div>
        <div class="navbutton">
          <p>Page #3</p>
          <div class="nvborder"></div>
        </div>
        <div class="navbutton">
          <p>Page #4</p>
          <div class="nvborder"></div>
        </div>
      </div>
    </header>
    <!-- <aside>
      <input type="range" name="name" value="">
      <input type="range" name="name" value="">
      <input type="range" name="name" value="">
      <input type="range" name="name" value="">
      <input type="checkbox" name="name" value="">
      <input type="image" name="name" value="">
    </aside> -->
    <section class="mainsection first_fheader">
        <h1 class="welcome">Trading without limitations</h1>
        <div class="bigslide">
          <img src="media/images/welcome_picture_3.svg" alt="" />
        </div>
        <div class="content">
          <p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
            qui officia deserunt mollit anim id est laborum."
          </p>
        </div>
        <!-- <div class="searchbox">
          <input type="text" placeholder="Search" />
          <button type="button" name="button"></button>
        </div>
        <hr> -->
    </section>

      <a href="example.html"><img src="logo.svg" alt="" /></a>
    <footer>
      <h1>Footer</h1>
      <div class="socialnetworks">
        <div name="facebook"></div>
        <div name="twitter"></div>
        <div name="googleplus"></div>
      </div>
    </footer>
  </body>
</html>

<!--
<div chdiv ng-controller="myCtrl">
</div>
<div ng-controller="myCtrl">
  <br>
  First Name: <input type="text" ng-model="firstName"><br>
  Last Name: <input type="text" ng-model="lastName"><br>
  <br>
  Full Name: {{firstName + " " + lastName}}
</div>

-->
