


/*Open Color table*/
/*
@_50:   #fff3e0;
@_100:  #ffe0b2;
@_200:  #ffcc80;
@_300:  #ffb74d;
@_400:  #ffa726;
@_500:  #ff9800;
@_600:  #fb8c00;
@_700:  #f57c00;
@_800:  #ef6c00;
@_900:  #e65100;
@_A100: #ffd180;
@_A200: #ffab40;
@_A400: #ff9100;
@_A700: #ff6d00;
*/
/*End  Color table*/

@font-face {
    font-family: Roboto-Lite;
    src: url(/fonts/RobotoTTF/Roboto-Light.ttf);
}

@font-face {
    font-family: myFirstFont;
    src: url(sansation_bold.woff);
    font-weight: bold;
}

.margin_both_horisontal {
  width: 80%;
  margin: 0 auto;
}

.form_disk {
  border-radius: 100%;
}
.form_rounded_rectangle {
  border-radius: 5%;
}

.button {

}

/*
  div_in_header margin_both_horisontal
*/
/*It is mean for all*/
*{
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
body {
  color: #000000;
  background: rgb(255, 255, 255);
  font-family: Roboto-Lite;
  font-size: 14pt;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
/*header`s part open*/
header {
  position: absolute;
  top: 0;
  background: @color;
  /*-webkit-box-shadow: inset hoff voff blur color;
  box-shadow: inset hoff voff blur color;*/
  -webkit-box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 180pt;
  z-index: 10;
}
.div_in_header {
  height: auto;
}
.main_head_div {
  height: 180pt;
}
.site_name {
  font: Roboto-Lite;
  height: 40pt;
}
.page_name {
  font: Roboto-Lite;
  height: 100pt;
  line-height: 100pt;
}
.navigation_part {
  height: 40pt;
  /*border: 1px dotted rgb(21, 21, 21);*/
}
/*header`s part end*/
/*section`s part open*/
.default_section {
  font: Roboto-Lite;
  min-height: 160pt;
  background: #eeeeee;
  -webkit-box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.45);
  box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.45);
}
.default_section+.default_section {
  margin-top: 5pt;
}
.first_from_top {
  margin-top: 180pt;
  padding-top: 10pt;
}
.main_section {
  min-height: 300pt;
  z-index: 9;

}

.default_content_block_in_section {
  min-width: 495pt;
  width: 600pt;
  padding: 2.5pt 5pt 0 5pt;
}
.default_content_block_in_sign_up {
  padding: 5pt 10pt 5pt 10pt;
}

/*with form_disk open*/
/*button button_on_main_page form_rounded_rectangle*/
.div_with_buttons {
  /*letter-spacing: 0;*/
  display: block;
  width: 495pt;
  height: 170pt;
}
.div_with_buttons a {
  float: left;
  display: block;
  height: 160pt;
  width: 160pt;
  margin: 2.5pt;
}
.button_on_main_page {
  position: relative;
  display: block;
  height: 160pt;
  width: 160pt;
  -webkit-box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.35);
  z-index: 9;
}
.button_on_main_page:hover {
  position: absolute;
  height: 165pt;
  width: 165pt;
  margin: -2.5pt;
  z-index: 10;
  -webkit-box-shadow: 0 2px 10px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 10px 5px rgba(0, 0, 0, 0.25);
}
#ic_shopping_cart {
  background: #eeeeee url(/resource/images/ic_shopping_cart_black_48dp.png) center no-repeat;
  background-size: contain;
}
#ic_store {
  background: #eeeeee url(/resource/images/ic_store_black_48dp.png) center no-repeat;
}
#ic_local_shipping {
  background: #eeeeee url(/resource/images/ic_local_shipping_black_48dp.png) center no-repeat;
}

#ic_shopping_cart:hover {
  background: #f5f5f5 url(/resource/images/ic_shopping_cart_black_48dp.png) center no-repeat;
  background-size: contain;
}
#ic_store:hover {
  background: #f5f5f5 url(/resource/images/ic_store_black_48dp.png) center no-repeat;
  background-size: contain;
}
#ic_local_shipping:hover {
  background: #f5f5f5 url(/resource/images/ic_local_shipping_black_48dp.png) center no-repeat;
  background-size: contain;
}

/*with form_disk end*/


.comment_text_in_main_section {
  display: block;
  background: #fafafa;
  width: 505pt;
  height: 85pt;
  margin-top: 10pt;
  -webkit-box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.35);
  padding: 5pt 10pt 5pt 10pt;
}

/*section`s part end*/
/*aside`s part open*/
aside {

}
/*aside`s part end*/
/*footer`s part open*/
footer {
  font: Roboto-Lite;
  min-height: 160pt;
  background: #e0e0e0;
  -webkit-box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.45);
  box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.45);
}

/* div_in_footer margin_both_horisontal main_footer_div */
.div_in_footer {
  height: auto;
}
.main_footer_div {
  height: 160pt;
}
.footer_logo {
  height: 160pt;
  line-height: 160pt;
}

/*footer`s part end*/

/*sign_up part*/
#sign_up_section_header {
  display: block;
  width: 410pt;
  margin: 5pt auto 5pt auto;
}
.sign_up_section {
  min-height: 450pt;
  width: 450pt;
  padding: 5pt;
  margin: 185pt auto 5pt auto;
  background: #f5f5f5;
  -webkit-box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.45);
  box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.45);
}
.sign_up_input_field_parameter {
  height: 100%;
  width: 100%;
  font-size: 0.75em;
  margin-left: -5pt;
  line-height: 20pt;
  border: none;
  background: transparent;
  display: block;
  padding: 0 5pt 0 5pt;
  text-align: left;
  -webkit-box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.45);
  box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.45);

  position: relative;
  z-index: 9;
}
.sign_up_input_field_layer0 {
  display: block;
  height: 20pt;
  width: 415pt;
  border: none;
  background: rgb(255, 255, 255);
  margin: 5pt auto 5pt auto;
  padding: 0 5pt 0 5pt;
  z-index: 9;
}
.sign_up_input_field_layer1 {
  display: block;
  float: left;
  height: 20pt;
  width: 415pt;
  padding: 0 5pt 0 5pt;
  border: none;
  text-align: right;
  background: transparent;
  margin-left: -5pt;
  position: absolute;
  z-index: 8;
}
.sign_up_text_field_parameter {

}
.sign_up_login {

}
.sign_up_password {

}
.sign_up_name {

}
.sign_up_surname {

}
.sign_up_patronymic {

}
.sign_up_email {

}
.sing_up_button {
  float: right;
  position: relative;
  display: block;
  height: 20pt;
  width: 200pt;
  margin: 0;
  font-size: 0.75em;
  line-height: 20pt;
  background: #ffffff;
  border: none;
  -webkit-box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.35);
  z-index: 9;
}
.div_button_container+.div_button_container {
  float: right;
}
.div_button_container {
  float: left;
  display: inline-block;
  height: 20pt;
  width: 200pt;
  margin: 0 0 0 0;
  padding: 0;
  z-index: 9;
  background: rgb(40, 251, 156);
}
.sing_up_button:hover {
  position: absolute;
  height: 22pt;
  width: 202pt;
  margin: -1pt;
  background: #ffffff;
  font-size: 0.80em;
  -webkit-box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.35);
  z-index: 10;
}

.div_with_buttons_sign_up {
  display: block;
  margin: 10pt auto 15pt auto;
  height: 20pt;
  width: 410pt;
  background: transparent;
}
.comment_text_in_sign_up {
  width: 410pt;
  min-height: 100pt;
  background: rgb(255, 255, 255);
  padding: 5pt;
  -webkit-box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.35);
}
/*

.button_on_main_page {
  position: relative;
  display: block;
  height: 160pt;
  width: 160pt;
  -webkit-box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.35);
  z-index: 9;
}
.button_on_main_page:hover {
  position: absolute;
  height: 165pt;
  width: 165pt;
  margin: -2.5pt;
  z-index: 10;
  -webkit-box-shadow: 0 2px 10px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 10px 5px rgba(0, 0, 0, 0.25);
}
.div_with_buttons a {
  float: left;
  display: block;
  height: 160pt;
  width: 160pt;
  margin: 2.5pt;
}
*/
/*sign_up end*/
